.image {
	float: left;
	width: 40%;
}
.text {
	float: right;
	width: 58%;
	margin-right: 1%;
}
.footer {
	position: absolute;
	bottom: 1%;
	right: 1%;
}
.input-file {
	width: 50%;
	float: left;
}
button {
	margin-top: 1%;
	width: 50%;
	height: 3em;
	float: right;
}