#form {
	width: 40%;
}
.post {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.image {
	width: 30%;
}
.text {
	width: 68%;
}
.active {
	font-size: medium;
}
button {
	height: 2em;
	font-size: medium;
}