<!DOCTYPE html>
<html>
<head>
	<title>Random</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="static/ministyle.css" />
</head>
<body>

<form action="/" method="post" enctype="multipart/form-data" id="form">
	<input type="text" name="subject" class="input-subject" maxlength="20" />
	<textarea type="text" rows="6" name="body" maxlength="1000"></textarea>
	<div class="button-group clear">
		<div class="file-input-wrapper">
			<button class="btn-file-input">Image</button>
			<input type="file" name="file" />
		</div>
		<button type="submit" class="submit-button">Make thread</button>
	</div>
</form>
<br>

{% if data: %}
{% for thread in data %}
<article class="post clear">
	<a href="/image/{{thread["image_id"]}}" target="_blank"><img src="/thumb/{{thread["image_id"]}}" class="image"></a>
	<h3 class="header">#{{thread["post_id"]}}: {{thread["subject"]}}
	<span class="post-id"><a href="{{thread["post_id"]}}"><span class="counter">{{thread["bump_counter"]}} </span><i class="fa fa-comment"></i></a></span></h3>
	<p class="paragraph">{{thread["body"]}}</p>
</article>
{% endfor %}
{% endif %}
</body>
</html>