<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script type="text/javascript" src="/static/script.js"></script>
	<title>Minichan - Random</title>
</head>
<body>
<form method="post" action="/">
    <input name="subject" type="text" size="51" placeholder="Subject"><br>
    <textarea name="body" rows="6" cols=50></textarea><br>
    <button type="submit">Submit</button>
</form><hr><hr>

<h3>Threads:</h3>

{% for message in data %}
    <a href="/{{ message["post_id"] }}">[Reply]</a><br>
    <strong>Subject: </strong>{{ message["subject"] }}<br>
    <strong>Post ID: </strong>{{ message["post_id"] }}<br>
    <strong>Bump counter: </strong>{{ message["bump_counter"] }}<br>
    <strong>Creation time: </strong>{{ message["creation_time"] }}<br>
    <strong>Bump time: </strong>{{ message["bump_time"] }}<br>
    <strong>Bump limit: </strong>{{ message["bump_limit"] }}<br>
    <strong>Body: </strong>{% for line in message["body"].split("\\n") %}
        {{ line }}<br>
    {% end %}<hr>
{% end %}
</body>
</html>