<!DOCTYPE html>
<html>
<head>
	<title>Minichan</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/ministyle-phone.css" />
	<link rel="stylesheet" media="(min-width: 40.063em)" href="static/ministyle-tablet.css" />
	<link rel="stylesheet" media="(min-width: 64.063em)" href="static/ministyle-desktop.css" />
</head>
<body>


<!-- Posting form -->
<form action="/{{data["original_post"]["post_id"]}}" method="post" enctype="multipart/form-data" id="form">
	<textarea type="text" rows="8" name="body" maxlength="3000" required></textarea>
	<div class="button-group clear">
		<input type="file" name="image" class="input-file" required/>
		<button type="submit">Make thread</button>
	</div>
</form>
<br><br>
<!-- Posting form end -->


<!-- Original post -->
<article class="post clear original">
<a href="{{data["original_post"]["image_uri"]}}" target="_blank"><img class="image" src="{{data["original_post"]["thumb_uri"]}}"></a>
<div class="text">
<div class="menu header clear">
<span class="left">{{data["original_post"]["creation_time"]}}</span>
<span class="right">#{{data["original_post"]["post_id"]}}</span>
</div>
<p class="paragraph">{{data["original_post"]["body"]}}</p>
</div>
<span class="menu footer"><a href="#"><i class="fa fa-mail-forward"></i></a></span>
</article>
<!-- Original post end -->


<!-- Comments -->
<div class="comments">
{% if "reply_list" in data: %}
{% for reply in data["reply_list"]: %}
<article class="post clear">
<a href="{{reply["image_uri"]}}" target="_blank"><img class="image" src="{{reply["thumb_uri"]}}"></a>
<div class="text">
<div class="menu header clear">
<span class="left">{{reply["creation_time"]}}</span>
<span class="right">#{{reply["post_id"]}}</span>
</div>
<p class="paragraph">{{reply["body"]}}</p>
</div>
<span class="menu footer"><a href="#"><i class="fa fa-mail-forward"></i></a></span>
</article>
{% endfor %}
{% endif %}
</div>
<!-- Comments end -->


</body>
</html>