<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>Minichan</title>
</head>
<body>
<form method="post" action="/{{ data["original_post"]["post_id"] }}">
    <input name="subject" type="text" size="51" placeholder="Subject"><br>
    <textarea name="body" rows="6" cols=50 required></textarea><br>
    <button type="submit">Submit</button>
</form><hr><hr>

<h3>Original Post:</h3>

    <strong>Subject: </strong>{{ data["original_post"]["subject"] }}<br>
    <strong>Post ID: </strong>{{ data["original_post"]["post_id"] }}<br>
    <strong>Bump counter: </strong>{{ data["original_post"]["bump_counter"] }}<br>
    <strong>Creation time: </strong>{{ data["original_post"]["creation_time"] }}<br>
    <strong>Bump time: </strong>{{ data["original_post"]["bump_time"] }}<br>
    <strong>Bump limit: </strong>{{ data["original_post"]["bump_limit"] }}<br>
    <strong>Body: </strong>{% for line in data["original_post"]["body"].split("\\n") %}
        {{ line }}<br>
    {% end %}

<hr><hr><br>

<h3>Replies:</h3>

{% for message in data["replies"] %}
    <strong>Subject: </strong>{{ message["subject"] }}<br>
    <strong>Post ID: </strong>{{ message["post_id"] }}<br>
    <strong>Thread link: </strong>{{ message["thread_link"] }}<br>
    <strong>Creation time: </strong>{{ message["creation_time"] }}<br>
    <strong>Body: </strong>{% for line in message["body"].split("\\n") %}
        {{ line }}<br>
    {% end %}<hr>
{% end %}

</body>
</html>